body {
  margin: 0;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

canvas {
  background-color: #7ec850; /* grass */
  border: 3px solid #444;
  display: block;
}
