body {
  font-family: sans-serif;
  background-color: #322e2e;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: darkred;
}

.arena {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 40px;
}

.fighter {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border: 3px solid #333;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.fighter1 {
  background-color: lightblue;
}

.fighter2 {
  background-color: lightcoral;
}

.result {
  margin-top: 40px;
  font-size: 24px;
  color: green;
}
